# Similar Users Lab

BUT FIRST a quick word about strings, lists, and sets:

## Working with sets

In mathematics, a set is a collection of distinct objects.  In Python, "Sets" are lists with no duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

_Fun fact for your next party:  Techincally, Python sets are implemented using dictionaries (under the hood)._

Here are two sets of colors:

In [1]:
a = set(["Red", "Green", "Blue"])
b = set(["Black", "White", "Green"])

To find out which items are in both sets (**both sets only**), use the "intersection" method:

In [2]:
a.intersection(b)

{'Green'}

To find the items in a, but not b.

In [3]:
a.difference(b)

{'Blue', 'Red'}

To find the items in b, but not a.

In [4]:
b.difference(a)

{'Black', 'White'}

To find a list of all unique sets (aka: union):

In [5]:
a.union(b)

{'Black', 'Blue', 'Green', 'Red', 'White'}

How many are different?

In [ ]:
print "Number of different items in b:  %d" % len(b.difference(a))

## From Sets to Lists

Now that we're experts with working with Python sets.  Let's get savvy working with lists and unstructured data.

Using the split() method on a string, we can "split" it by a delimiter, to be used as a list.  By default, the .split() method can be applied to any string object, and will automatically split on spaces.  

*You can pass a parameter to split to change which character it will split on, such as ",", if you're trying to turn a comma seprated list of items into a list.*

The following will turn a space delimited *string* into a **list**.

In [6]:
"my name is dave my name is dave my name is dave".split()

['my',
 'name',
 'is',
 'dave',
 'my',
 'name',
 'is',
 'dave',
 'my',
 'name',
 'is',
 'dave']

What's up with this though?  Well all know "my name is dave", but if we had many values, it would be hard to know which of them are unique.  That's when we use sets.

In [7]:
set("my name is dave my name is dave my name is dave".split())

{'dave', 'is', 'my', 'name'}

Ok so we should know enough to conquer our jaccard distance problem, and step into our real problem:

## Who has similar tastes in music?

What we will attempt, is building a small process that takes feedback from a survey, mapping a distance function to find similar users based on Jaccard.

Along the way we will be:
* Working with requests
* Understanding Python fundamentals with sets and lists
* Cleaning up bad data
* Implementing Jaccard distance function
* Finding similar users

First, we will be taking a survey!  Let's all visit the survey posted in the channel before continuing.

*[Check out #General]*

Hopefully everything goes smooothly.  It's possible that I may need to modify the permissions on the sheet or provide a CSV snapshot if we hit a snag.

We will be loading our results via HTTP, then loading them into Pandas via StringIO which allows us to interoperate on strings as if they were file resources, then load them as a Dataframe.  This is setup for us now.

In [19]:
import pandas as pd
import requests

from StringIO import StringIO  

%matplotlib inline

spreadsheet = "https://docs.google.com/spreadsheets/d/1cpUb7XbN-qOq4xbGdYfhY9FtrMqRd0izz4PmTPMejt0/export?format=csv&id=1cpUb7XbN-qOq4xbGdYfhY9FtrMqRd0izz4PmTPMejt0&gid=216538035"
http = requests.get(spreadsheet)
csv_data = StringIO(http.content)
df = pd.read_csv(csv_data, index_col=0)

In [20]:
df.head()

,Name,Favorite Genres / Genres you like,What time of day do you like to listen to music?
Timestamp,,,
2/8/2016 2:09:12,Dave,"Blues, Classical, Electronic Music, Hip Hop / ...",24/7
2/8/2016 20:56:27,Brian Zhou,"Alternative Music, Dance, Electronic Music, Hi...",Night
2/8/2016 20:56:44,Colby,"Blues, Electronic Music, Indie Pop, Reggae","Morning, Night, Special occasions"
2/8/2016 20:56:46,Porpoises,"Alternative Music, Dance, Easy Listening, Elec...",24/7
2/8/2016 20:56:50,Tam,"Classical, Dance, Easy Listening, Jazz, Pop, R...",24/7

**1. Rename the genre feature**

We get bad data from spreadsheets all the time.  This case, it's coming from a survey.  For ease of reference, rename the feature **"Favorite Genres / Genres you like"** to **"genres"**.

In [21]:
df = df.rename(columns= {'Favorite Genres / Genres you like': 'genres'})

**2. Select only your response from the new "genre" feature**

Try printing out only the first value, where df["Name"] == "[Your name]".

In [22]:
fs_row = df[df["Name"] == 'Scully']
fs_row

,Name,genres,What time of day do you like to listen to music?
Timestamp,,,
2/8/2016 20:57:12,Scully,"Alternative Music, Blues, Classical, European ...","Morning, Afternoon, Night, Special occasions"

**3. Take your survey response for "genre", and split it into a list, equal to the number of responses you chose**

For example if you chose "Blues, Reggae, Electronic Music", convert it to a list that looks like ["Blues", "Raggae", "Electronic Music"].

In [58]:
fs_genre = list(fs_row['genres'])
fs_genre_list = fs_genre[0].split(',')
fs_genre_set = set(fs_genre_list)

**4. Create a function that takes 2 lists, then calculate Jaccard distance**

0-60 mph I know but you can do this!  Double check our slides, and refer to the set operations for how to calculate this.  

Here is a boilerplate to get you going.

In [59]:
def jaccard(list1, list2):
    numerator = float(len(list1.intersection(list2)))
    denominator = float((len(list1) + len(list2)) - numerator)
    return numerator/denominator
    print(numerator)
    print(denominator)
    # Update / your code here
    # numerator * 1.0 also equals float
    
list1 = set(['blue', 'green', 'yellow'])
list2 = set(['black', 'orange', 'yellow', 'green'])

jaccard(list1, list2)

0.4

**5.  Now for our final trick, calculate the distance between your genre preferences vs everyone else.**

Loop through everyone in the dataframe, create a list out of their "genre" string, echo out their name, then finally the distance between you and their sets.

In [72]:
users = df['Name']

for user in users:
    user_row = df[df["Name"] == user]
    user_name = user_row['Name']
    user_genre = list(user_row['genres'])
    user_genre_list = user_genre[0].split(',')
    user_genre_set = set(user_genre_list)
    
    me_vs_them = jaccard(fs_genre_set, user_genre_set)
    print("The difference between " + user_name[0] + ' and me is: '+ str(me_vs_them) )

    #can also sort

The difference between Dave and me is: 0.0714285714286
The difference between Brian Zhou and me is: 0.1
The difference between Colby and me is: 0.1
The difference between Porpoises and me is: 0.133333333333
The difference between Tam and me is: 0.0
The difference between Scully and me is: 1.0
The difference between Mike Levine and me is: 0.0714285714286
The difference between Yomi and me is: 0.111111111111
The difference between Esther and me is: 0.222222222222
The difference between Eric and me is: 0.153846153846
The difference between Lexi and me is: 0.0714285714286
The difference between Ilma and me is: 0.222222222222
The difference between Mike Steiner and me is: 0.272727272727
The difference between dexter/falafel and me is: 0.153846153846
The difference between nicaless and me is: 0.2

**Optional 6. Try calculating the distance on the time of day feature.**

Try to make a new dataframe, for just you vs everyone, using jaccard, and time of day.  Is there any interesting patterns you see?

**Optional 7. What can you say about the selection of options for genre or time and what they mean?**